<!DOCTYPE html>
<html>
<head>
  <title>Sistema de Controle de Clínicas</title>
</head>
<body>
  <center>
    <h1>Sistema de Controle de Clínicas</h1>
    <a href="/usuarioCreate"><button>Cadastrar Usuário</button></a>
    <a href="/usuarioList"><button>Listar Usuários</button></a>
    <a href="/clinicCreate"><button>Cadastrar Clínica</button></a>
    <a href="/clinicList"><button>Listar Clínicas</button></a>
    <a href="/doctorCreate"><button>Cadastrar Médico</button></a>
    <a href="/doctorList"><button>Listar Médicos</button></a>
    <a href="/logout"><button>Logout</button></a>
    <br><br>
    {{{ body }}}
  </center>
</body>
</html>
