<!DOCTYPE html>
<html>
<head>
  <title>Sistema de Controle de Clínicas</title>
</head>
<body>
  <center>
    <h1>Sistema de Controle de Clínicas</h1>
    <br><br>
    {{{ body }}}
  </center>
</body>
</html>
