<form action="/clinicCreate" method="post">
  Nome: <input type="text" name="name"><br>
  Endereço: <input type="text" name="address"><br>
  Telefone: <input type="text" name="phone"><br>
  <input type="submit" value="Cadastrar Clínica">
</form>
