<table border="1">
  <tr><th>Nome</th><th>Endereço</th><th>Telefone</th></tr>
  {{#each clinics}}
  <tr>
    <td>{{name}}</td>
    <td>{{address}}</td>
    <td>{{phone}}</td>
  </tr>
  {{/each}}
</table>
